In [1]:
import pandas as pd

df = pd.read_csv('SMSSpamCollection', sep='\t', names=['label', 'data'])
df.head()

  label                                               data
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df['label'] = "__label__" + df['label']
df.head()

           label                                               data
0   __label__ham  Go until jurong point, crazy.. Available only ...
1   __label__ham                      Ok lar... Joking wif u oni...
2  __label__spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   __label__ham  U dun say so early hor... U c already then say...
4   __label__ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df = df.sample(frac=1).reset_index(drop=True)
df_train = df[:int(df.shape[0]*.8)]
df_test = df[int(df.shape[0]*.8):]
train_counts = df_train['label'].value_counts()
test_counts = df_test['label'].value_counts()
print(train_counts[1]/train_counts[0])  # about 15% spam
print(test_counts[1]/test_counts[0])    # about 15% spam

0.15436415436415438
0.1566390041493776

In [4]:
df_train.to_csv("SMSdata_train.ft", index=False, sep=' ', header=False)

In [5]:
df_test.to_csv("SMSdata_test.ft", index=False, sep=' ', header=False)

In [6]:
! ./fasttext supervised -input SMSdata_train.ft -output sms_model

Read 0M words
Number of words:  15414
Number of labels: 2
Progress: 100.0% words/sec/thread:  314625 lr:  0.000000 loss:  0.129982 ETA:   0h 0m

In [7]:
! ./fasttext test sms_model.bin SMSdata_test.ft

N	1115
P@1	0.973
R@1	0.973

In [8]:
# Nearest Neighbors
! echo "free" | ./fasttext nn sms_model.bin

Query word? Call 0.99389
To 0.993771
txt 0.993721
mobile 0.993673
text 0.993622
Your 0.993504
Txt 0.993114
call 0.993111
claim 0.993068
"ringtoneking 0.992989
Query word?